{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODOPL</title>
    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- FontAwesome 아이콘 CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
        body { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif; }
    </style>
</head>


<body data-csrf="{{ csrf_token }}"
      data-year="{{ year }}"
      data-month="{{ month }}"
      class="bg-white text-gray-900 min-h-screen flex flex-col">

    <!-- PC/모바일 통합 헤더 -->
    <header class="fixed top-0 left-0 right-0 z-50 border-b border-gray-200 px-6 py-4 flex justify-between items-center bg-white/80 backdrop-blur-md">
        <h1 class="text-xl font-extrabold tracking-widest">TODOPL</h1>
        <div class="text-[16px] text-gray-500 font-medium"> {% now "Y.m.d l" %} <button type='button' onclick='openSettingsModal()'><i class='fa-solid fa-sliders'></i></button>
    </header>


    <!-- 모바일 하단 고정 탭바 (PC에서는 hidden) -->
    <nav class="md:hidden fixed bottom-0 left-0 right-0 bg-white/80 backdrop-blur-md border-b border-gray-200 flex justify-around py-2.5 z-50">
        <a href="{% url 'todo_list' %}" class="flex flex-col items-center text-xs transition-colors duration-200
        {% if request.resolver_match.url_name == 'todo_list' %}
            text-red-500
        {% else %}
            text-gray-400
        {% endif %}">
            <i class="fa-regular fa-calendar-days text-2xl mb-1"></i>
            <!-- <span>캘린더</span> -->
        </a>

        <a href="{% url 'home' %}" class="flex flex-col items-center text-xs transition-colors duration-200
        {% if request.resolver_match.url_name == 'home' %}
        text-red-500
        {% else %}
            text-gray-400
        {% endif %}">
            <i class="fa-solid fa-house text-2xl mb-1"></i>
            <!-- <span>Home</span> -->
        </a>

        <a href="{% url 'mobile_stats' %}" class="flex flex-col items-center text-xs transition-colors duration-200
        {% if request.resolver_match.url_name == 'mobile_stats' %}
        text-red-500
        {% else %}
            text-gray-400
        {% endif %}">
            <i class="fa-solid fa-chart-simple text-2xl mb-1"></i>
            <!-- <span>통계</span> -->
        </a>
    </nav>


    <!-- 메인 컨텐츠 영역 -->
    <main class="flex-1 max-w-[1600px] w-full mx-auto pt-16 pb-20">
        {% block content %}{% endblock %}
    </main>
    
</body>
</html>